<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title>Spring Boot Application</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}"/>

</head>
<body>
<div class="container">
<h4>Compare Thaler & new App</h4>
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="accountNumber">Account Number</label>
                <input type="text" class="form-control" id="accountNumber" placeholder="Account Number" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" placeholder="Date" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <div class="row">
        <div class="col-6 border-right">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">DATDET</th>
                    <th scope="col">MONDET</th>
                    <th scope="col">TAUDET</th>
                    <th scope="col">TAUDET</th>
                    <th scope="col">BASDET</th>
                    <th scope="col">JOUDET</th>
                    <th scope="col">NBJDET</th>
                    <th scope="col">CMPDET</th>
                    <th scope="col">MONSOL</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">INTDB</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/jquery-treetable/jquery.treetable.js}"></script>
</body>
</html>